[run]
omit = test_*, conftest.py

[report]
exclude_lines =
    # Re-enable standard pragma
    pragma: no cover

    # Ignore import errors
    except ImportError

    # Ignore main
    if __name__ == .__main__.:
